<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Jio Template</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='vendor/icofont/icofont.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='vendor/venobox/venobox.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='vendor/owl.carousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='vendor/aos/aos.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static',filename='css/index.css' )}}" rel="stylesheet">
</head>
<body>

    <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">
      <a href="{{ url_for('index')}}" class="logo mr-auto"><img src="{{url_for('static', filename='img/jio logo.png')}}" alt="" class="img-fluid"></a>
    </div>
    <div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <span>{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
  </header>
  <!-- End Header -->

  <!-- ======= Main Section ======= -->

  <main id="main">
      
  <!-- ======= Filter Section ======= -->
    <section id="filter" class="filter">
        <div class="container" data-aos="fade-up" style="margin-top:50px">
                <div class="row" style="margin-right: 12px;" >
                    <!-- {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                    <span>{{ message }}</span>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %} -->
                    <form action="{{url_for('filtervalues')}}" , method="POST" class="form-inline new" id='filtervalues'> 
                        <label for="price-segment" class="mr-md-2">Price Segment:</label>
                        <input type="text" name="price-segment" class="form-control mr-md-2" placeholder="Price segment" list="price-segment" >
                            <datalist id="price-segment">
                            
                                
                            </datalist>
                        
                        <label for="Brand" class="mr-md-2">Brand:</label>
                        <input type="text" name="brand" class="form-control mr-md-2" placeholder="Brand" list="brand" >
                            <datalist id="brand">
                                
                            </datalist>
                            
                        <div class="text-center"><button type="submit" class="btn btn-primary">Update Filter</button></div>
                    </form>
                </div>
                 <script>
                    // 1/6/2020
                    window.addEventListener("DOMContentLoaded",e=>{
                        let filterForm = document.querySelector("#filtervalues") 
                        filterForm.addEventListener("submit",(event)=>{
                            event.preventDefault()
                            const brand = filterForm["brand"] 
                            const ps = filterForm["price-segment"]
                            console.log(brand, ps)
                            let options = {
                                method : "POST",
                                body: JSON.stringify({
                                    "brand": brand,
                                    "priceSegment": ps
                                }),
                                headers: {
                                    "Content-type" : "application/json"
                                }
                            }
                            fetch("/filtervalues")
                            .then(resp=>{
                                console.log(resp)
                                return resp.json()
                            })
                            .then(data=>{
                                data = JSON.parse(data)
                                console.log(typeof(data))
                                let html4 = ""
                                data.forEach(item=>{
                                    let itemString  = `<option value="${item}">${item}</option>`
                                    html4 += itemString
                                })

                                console.log(html4)
                               // document.querySelector("#productAdd").innerHTML = html
                                //document.querySelector("#products").innerHTML = html
                                document.querySelector("#products").innerHTML = html4
                                document.querySelector("#productAdd").innerHTML = html4 
                            })
                        })
                    
                    })
                    
                </script> 
                <script type="text/javascript">
                    window.addEventListener("DOMContentLoaded",event=>{
                        fetch("/sender")
                        .then(res=>{
                            return res.json()
                        })
                        .then(data=>{
                            // console.log(data)
                            document.querySelector("#price-segment")
                            //console.log(data[0].brands)
                            let brands = []
                            data[0].brands.forEach(item=>{
                                //console.log(Object.keys(item)[0])
                                brands.push(Object.keys(item)[0])
                            })
                            
                            let html = ""
                            brands.forEach(brand=>{
                                html+=`<option value="${brand}">${brand}</option>`
                            })
                            
                            document.querySelector("#brand").innerHTML = html
                            
                            
                            // now price segment population
                            // console.log(data[0].segments)
                            let html2= ""
                            data[0].segments.forEach(segments=>{
                                //console.log(segments)
                                Object.keys(segments).forEach(key=>{
                                    let item = `<option value="${key}">${segments[key]}</option>`
                                    html2+= item
                                }) 
                            })
                            
                            document.querySelector("#price-segment").innerHTML = html2
                    
                            //products default list population
                            
                            // data[0].brands.forEach(brandsfunc);

                            // function brandsfunc(item) {
                            // document.querySelector("#brand").innerHTML +='<option value="'+item+'">'+ item+ '</option>' 
                            // }
                            
                            data[0].products.forEach(myFunction);

                            function myFunction(item) {
                            document.querySelector("#productAdd").innerHTML +='<option value="'+item+'">'+ item+ '</option>'
                            document.querySelector("#products").innerHTML += '<option value="'+item+'">' +item +'</option>'         
                            }
                        })
                    })
                </script>
        </div>
    </section>
  <!-- ======= Remix and Add Product Section ======= -->

    
    <section id="remix" class="remix">
        <div class="row container">
            <div class="new" style="margin-left: 102px; margin-right: -140px;">
                <div class="column " data-aos="fade-up">

                    <form action="{{ url_for('submit') }}" method="POST"  role="form" class="addproduct ">
                    
                        <div class="form-group col-lg-8 mb-2">
                            <label for="Product" style="padding-right: 18px;">Product:</label>
                            <input type="text" name="products" placeholder="Name of the Product" list="products" required>
                            <datalist id="products">
                            
                            
                            </datalist>
                        
                        </div>
                        <div class="form-group col-lg-8 mb-2">
                        
                            <div class="input-group-append">
                                <label for="price-drop" style="padding:2px 4px 4px 0px;" >Price Drop:</label>
                                <input type="number" name="price-drop" placeholder="Price drop in %" id="price-drop" required=>
                                <span class="input-group-text" style="height: 30px;">%</span>
                            </div>
                            
                        </div>
                        <div class="form-group col-lg-8">
                            <label for="remix type">Remix type:</label>
                            <div class="input-group-prepend">
                                <div class="input-group-text" style="height: 30px;">
                                    <input name="remix type" id="quantity" value="quantity" type="radio" aria-label="Radio button for following text input" required>
                                </div>
                                <label class="form-control" for="quantity" style="height: 30px;"><strong>Quantity</strong></label>
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text" style="height: 30px;">
                                    <input name="remix type" id="revenue" value="revenue" type="radio" aria-label="Radio button for following text input" required>
                                </div>
                                <label class="form-control" for="revenue" style="height: 30px;"><strong>Revenue</strong></label>
                            </div>
                            <div class="input-group-prepend" >
                                <div class="input-group-text" style="height: 30px;">
                                    <input name="remix type" id="margins" value="margins" type="radio" aria-label="Radio button for following text input"  required>
                                </div>
                                <label class="form-control" for="margins" style="height: 30px;"><strong>Margins</strong></label>
                            </div>
                        </div>
                                <div class="text-right"><button type="submit" id="submitbtn">Submit</button></div>
                        
                    </form>       
                    <script>
                        
                        window.addEventListener("load",event=>{
                        document.getElementById("output").style.display = "none";
                        
                        document.getElementById("submitbtn").onclick = function() { 
                            document.getElementById("output").style.display = "block"; 
                        } 
                        })                  
                    </script>

                </div>
                <div class="column" data-aos="fade-up">
                    <div class="section-title">
                        <h5>Add/Edit a new Product</h5>
                    </div>  
                    <div class="row">
                        <div class="column">
                            <div class="col-lg-10 mt-5 mt-lg-0 d-flex align-items-stretch">
                                <table id ="product-table">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody> 
                                        {% for i in product_list %}
                                        <tr>
                                            <td>{{i.prod}}</td>
                                            <td>{{i.quant}}</td>
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="column">
                            <div class="col-lg-10 mt-5 mt-lg-0 d-flex align-items-stretch"></div>
                                <form action="{{ url_for('add') }}" method="POST"  role="form" class="addproduct">
                                    <div class="form-group col-md-6">
                                        <label for="productAdd">Product:</label>
                                        <input type="text" name="productAdd" placeholder="Name of the Product"  list="productAdd" required>
                                            <datalist id="productAdd">
                                            
                                            </datalist>
                                            
                                        <div class="validate"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                    
                                        <label for="Quantity">Quantity:</label>
                                        <input type="number" name="Quantity" placeholder="Quantity" min=1 id="quantity" required >
                                        <div class="validate"></div>
                                    </div>
                                    <div class="text-center addbtn">
                                        <button type="submit" id="add" >Add</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </section>
    
     


  <!-- ======= Output Section ======= -->
  <section id="output" class="output" data-aos="fade-up">
      <div class="row1">
            <div class="column1 new">
                <h5>Re-order Mix</h5>
                <table>
                    <tr>
                    <th>Product</th>
                    <th>Original Distribution</th>
                    <th>Re-order Distribution</th>
                    </tr>
                    
                    {% for i in product_list %}
                        <tr>
                            <td>{{i.prod}}</td>
                            <td>{{i.quant}}</td>
                            <td></td>

                        </tr>
                    {% endfor %}
                    
                </table>
            </div>
          

            <div class="column1 new">
                <h5>Measure</h5>
                <table>
                    <tr>
                    <th>Product</th>
                    <th>Weight</th>
                    </tr>
                    {% for i in measure_list %}
                        <tr>
                               <td>{{i.prod}}</td>
                               <td>{{i.meas}}</td>
                        </tr>
                    {% endfor %}
                    
                </table>
            </div>
         
            
            <div class="column1 new">
                <h5>Stacked Bar Graph</h5>
            </div>
      </div>
  </section>
</main>



    <!-- End main -->
    
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container footer-bottom clearfix">
      <div class="copyright">
         <strong><span>Jio</span></strong>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

    
  <!-- Vendor JS Files -->
  <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static',filename='vendor/jquery.easing/jquery.easing.min.js')}}"></script>
  <script src="{{ url_for('static',filename='vendor/php-email-form/validate.js')}}"></script>
  <script src="{{ url_for('static',filename='vendor/waypoints/jquery.waypoints.min.js' )}}"></script>
  <script src="{{ url_for('static',filename='vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{ url_for('static',filename='vendor/venobox/venobox.min.js')}}"></script>
  <script src="{{ url_for('static',filename='vendor/owl.carousel/owl.carousel.min.js')}}"></script>
  <script src="{{ url_for('static',filename='vendor/aos/aos.js')}}"></script>

  <!-- Template Main JS File -->
  <script type="text/javascript" src="{{ url_for('static',filename='js/index.js')}}"></script>
</body>
</html>



